html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}






.settings
{
	position: absolute;
	-webkit-Transition: all 0.4s ease-out;
	-webkit-transform: translateX(-125px);
	display: none;

	z-index: 0;
	clear: none;

	width: 250px;
	height: 100%;

	color: #eee;

	text-shadow: 0 -1px 1px rgba(0,0,0,1);

	padding: 0px 10px;

	display: block;
	width: 0px;
	overflow: hidden;
		
}


header.top
{
	/*-webkit-transform: translateX(0px);
	*/
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,1.5);
	width: 100%;

	/*top: 0px;
	left: 0px;
*/
	z-index: 3;
	display: table; 

	height: 40px;
	background: #282828;
	vertical-align: middle;

}

.main
{
	-webkit-transform: translateX(0px);

	box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
	
	z-index: 1;
	width: 100%;
	min-height: 100%;
	position: absolute;
	background: #A03033;
	
}
.settings
{
	background: #222;
}
body
{

	font-family: Helvetica, Arial, Verdana;
	background: #A03033;
	padding: 0;
	margin: 0;
}
section.weekview, a.button, #contact > article
{
	margin: 20px 10px;
	/*border-radius: 5px;
	*/box-shadow: 1px 1px 20px #000;
	-moz-box-shadow: 1px 1px 20px #000;
	-webkit-box-shadow: 1px 1px 20px #000;
	
	text-shadow: 0 1px 1px #fff;
}

section.weekview nav
{

}

section.weekview > div
{
	min-height: 100px;
	background: url("loading.gif") #eee no-repeat center;
}



header.top button
{
	display: table-cell; 

	min-width: 40px;
	width: 40px;
	height: 40px;

	margin: 0;
	padding: 0;
	
	background: url("settings.png") center no-repeat;
	border: none;
	border-right: 1px #444 solid;

	height: 100%;


}

header.top h1
{
	display: table-cell; 
	padding: 0 40px 0 0;
	text-align: center;
	vertical-align: middle; 
	width: 100%;
	height: 100%;

}
header.top h1 img
{
	max-width: 333px;
	width: 80%;
}

.weekview nav > button
{
	display: inline-block;
	width: 34%;

	margin: 0px;
	padding: 10px 0px;

	background-color: #eee;
	background: url('a.jpg');
	background-size: 100% 100%;

	border-right: 1px #ccc solid;
	border-left: 1px #fff solid;
	font-size: 12px;
}
.weekview .top 
{
	background: #e8e8e8 url('http://www.samfundet.no/public/img/hvaskaldu.gif') no-repeat right; 
	height: 80px;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
}
.weekview nav.bottom > button
{
	border-top: 1px #fff solid;
}

.weekview nav > button[data-action=previous] 
{
	width: 33%;
	border-left: 0px #ccc solid;
}
.weekview nav > button[data-action=next] 
{
	width: 33%;
	border-right: 0px #fff solid;
}

/*.radius_tl { border-radius: 5px 0 0 0 !important; }
.radius_tr { border-radius: 0 5px 0 0 !important; }
.radius_bl { border-radius: 0 0 0 5px !important; }
.radius_br { border-radius: 0 0 5px 0 !important; }
*/

.day header, #contact
{
	font-size: 15px;
	position: relative;
	background: url('a.jpg');
	background-size: 100% 100%;
	/*background-image: -webkit-linear-gradient( #EEE , #DDD );
	background-image: -moz-linear-gradient( #EEE , #DDD );
	background-image: -ms-linear-gradient( #EEE , #DDD );
	background-image: -o-linear-gradient( #EEE , #DDD );
	background-image: linear-gradient( #EEE , #DDD );*/
}


.day.grayed header
{
	color: #999;
}
 #contact > article > h4, #contact > article > dl
 {
 	padding: 10px;
 }
.day ul, #contact > article > h4, #contact > article > dl
{
	list-style: none;
	margin: 0px;
	margin: 0px;
	background: url('a.jpg');

	/*background-image: -webkit-linear-gradient( #eee , #ddd );
	background-image: -moz-linear-gradient( #eee , #ddd );
	background-image: -ms-linear-gradient( #eee , #ddd );
	background-image: -o-linear-gradient( #eee , #ddd );
	background-image: linear-gradient( #eee , #ddd );
	*/
	background-size: 100% 100%;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
}

.day ul li
{
	margin: 0px 10px;
	padding: 10px 0px;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
}


.day li
{
	position: relative;
	z-index 1;
}
.clock
{
	position:absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: url("http://waktattoos.com/large/Wings_tattoo_291.png") 50% 70% no-repeat;
	background-size: 80%;
	opacity: 0.1;
	z-index: 2;

}


/*.day ul li*/ dl dt
{
	color: #2F3E46;
	/*font-weight: bold;*/
	font-size: 16px;
	font-variant: small-caps;
	display: inline-block;
	width: 50%;
}
/*.day ul li*/ dl dd
{
	color: #2F3E46;
	display: inline-block;
	font-size: 16px;
	width: 50%;
	text-align: right;
}

h4 
{
	font-size: 14px;
	margin-top: 10px;
}
h5 {font-size: 13px; margin-top: 20px;}

.event
{
	margin: 0px 0px;
	border-left: 10px #ccc solid;
	padding: 4px 4px 1px 10px;
}
.event:hover
{
	background-color: #ddd !important;
}
.event time 
{
	float: right;
}
.event header
{
	background: none;
	border: 0;
	padding: 0px;
}


article header 
{
	margin: 0px;
	padding: 10px;
	color: #2F3E46;

	font-size: 12px;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;

}
article header h1 { padding: 0; margin: 0; }

p { font-size: 12px;  margin-bottom: 5px;}
h3 { font-size: 16px; font-weight: bold;  margin-bottom: 5px; }
h4 { margin-bottom: 5px; }

article[data-event-type="fest"] { border-color: #F99D31 ; }
article[data-event-type="happening"] { border-color: #9A4E9E ; }



button
{
	cursor: hand;
	background: none;
}


input[type=text]
{
	border: none;
	height: 100%;
	width: 100%;
	color: #fff;
	background-color: transparent;
}


fieldset button
{
	font-size: 13px;
	color: inherit;
	text-shadow: inherit;

	border-top: 1px rgba(255,255,255,0.15) solid;
	border-bottom: 1px rgba(0,0,0,0.6) solid;

	width: 100%;
	text-align: left;
	
	margin: 0;
	padding:  10px 5px 10px 0px;
}
fieldset button .circle
{
	vertical-align: middle;
	display: inline-block;
	width: 24px;
	height: 1em;
	position: relative;
	background: url("circle.png") center rgba(255,255,255,0.15);
}


article.cat-f /* film ! */
{
	border-left: none !important;
	padding-left: 20px !important;
	background: url("film.png") repeat-y !important;
}
.cat-r /* samfundsmøte og debatt */
{
	border-left-color: #A03033 !important; 
}
.cat-g /* fotball */
{
	border-left-color: #30A033 !important; 
}
.cat-y /* kultur og underholdning */
{
	border-left-color: #F99D31 !important; 
}
.cat-p /* konsert og uteliv */
{
	border-left-color: #9A4E9E !important; 
}

.bg_r, .c_r .circle /* samfundsm&oslash;te og debatt */
{
	background-color: #A03033 !important; 
}
.bg_g, .c_g .circle /* fotball */
{
	background-color: #30A033 !important; 
}
.bg_y, .c_y .circle /* kultur og underholdning */
{
	background-color: #F99D31 !important; 
}
.bg_p, .c_p .circle /* konsert og uteliv */
{
	background-color: #9A4E9E !important; 
}
.bg_f, .c_f .circle {
	background-color: #aaa !important; 
}

strong
{
	font-weight: bold;
}

.bullet
{
	/*display: none !important;*/
	color: #fff /*rgba(255,255,255,0.6)*/;
	font-weight: bolder;
	text-shadow: none;/* 1px -1px -1px rgba(255,255,255,0.2);*/
	font-size: 1.0em;
	display: inline-block;
	float: right;
	width: 1.0em;
	height: 1.0em;
	border-radius: 1.0em;
	vertical-align: middle;
	text-align: center;
	padding: 0em;
	margin: -.0em 0 .3em .6em;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.6);
}
.toggled .circle 
{
	/*background: none;*/
}
.toggled
{
	/*border-left: rgba(255,255,255,0.2) 1px solid;
	margin-left: -1px;*/
}


.notop, ul li:first-child, #cats button:first-child, #results li:first-child
{
	border-top: none !important;
}
.nobottom, ul li:last-child, #cats button:last-child, #results li:last-child
{
	border-bottom: none !important;
}

.fullwidth
{
	width: 100% !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.fullwidth fieldset
{
	margin-left: 10px !important;
}
.hidden
{
	display: none;
}

#results
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 40px;
	color: #fff;
	z-index: 999;
	background-color: #444 !important;
}

#results li
{
	margin: 0px 22px !important;
	padding: 10px 0px ;
	display: block;
	border-top: 1px rgba(255,255,255,0.15) solid;
	border-bottom: 1px rgba(0,0,0,0.6) solid;
}

fieldset
{
	display: block;
	margin: 0px 0px 10px;
	padding: 10px 0px 0px;
	border:none;
}

fieldset legend
{
	margin-left: -10px;
	padding: 10px 0px 10px 10px;
	background: rgba(1,1,1,0.2);
	width: 100%;
	font-variant: small-caps;
}


fieldset.search
{
	background:  url('glass.png') no-repeat right rgba(1,1,1,0.4);
	border-radius: 12px;
	/*border: 1px #444 solid;
	*/margin: 8px 10px 8px 0px;
	padding: 0px 30px 0px 12px;
	height: 24px;
}
a.button
{
	color: #2F3E46;
	padding: 10px;
	display: block;

	background-color: #eee;
	background: url('a.jpg');
	background-size: 100% 100%;

	border-bottom: 1px #ccc solid;
	border-right: 1px #ccc solid;
	border-left: 1px #fff solid;
	border-top: 1px #fff solid;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}

.past 
{
	display: none;
}

#today strong
{
	/*background-image: none;*/
	/*color: #9A4E9E;*/
	text-decoration: underline;
}

button
{
	border: none;
}
.tabs 
{
	display: block;
}
.tabs > nav
{
-moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.8);
-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.8);
box-shadow: inner 0 0 15px rgba(0,0,0,0.8);
}
.tabs > nav
{
	background: url('https://www-rails.samfundet.no/stylesheets/images/header-pattern.png') -100px -40px;
	background-color: #4b1618;
	padding: 15px 0px 0px 10px;
}
.tabs > nav button
{
	/*width: 48%;
	margin: 0px;

	/**/
	margin: 0px 2px 0px 0px;
	
	display: inline-block;
	padding: 10px 20px;
	
	color: #fff;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 18px;
	letter-spacing: 0px;
	background-color: rgba(123, 38, 40, 0.8);
}

.tabs > nav button.active 
{
	background-color: #A03033;
}


#contact 
{
	background: #A03033;
}

#contact a
{
	color: #2F3E46;
}
#contact h3
{
	font-weight: bolder;
	letter-spacing: -2px;
	background-color: #e8e8e8;
	margin-bottom: 0px;
	padding: 10px;
	font-size: 24px;
	text-shadow: none;
	color: #641B17;
		border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	text-transform: uppercase;
}

.day > header
{
	padding:  12px 12px 12px 50px ;
}
.date 
{
	position: absolute;
	top: -5px;
	left: 8px;
	width: 25px;
	display: inline-block;
	text-align: center;
	font-weight: bolder;
	font-size: 23px;
	background: #fff;
	padding: 5px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,1.5);
}

.date > span
{
	display: block;
	font-size: 10px;
}

#today
{
	font-weight: bold;
	color: #A03033;
}

.popup button:last-child
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	left: 10px;
	font-size: 25px;
		background: url("a.jpg"); color: #458B00;
	background-size: 100% 100%;
			border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
			box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,1.5);
	/*color: #fff;
	*/text-shadow: 0px 1px 1px rgba(255,255,255,1);
	font-weight: bolder;
	font-variant: small-caps;
	height: 100px;
}
button > span
{
	font-size: 14px;
	display: block;
	clear: both;
	color: rgba(0,0,0,0.4);
}
button.close
{
	font-size: 22px;
	font-weight: bolder;
	font-variant: small-caps;
	color: #D06063;
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
	background: #A03033;
			box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,1.5);
	padding: 0px;
		border-radius: 15px;
		background-size: 100% !important; 
		width: 30px;
		height: 30px;
		display: block;
		float: right;
		text-align: center;
}

.popup
{
	background: url('a.jpg');
	background-size: 100% 100%;
	position: fixed;
	z-index: 10;
	border-radius: 20px;
	color: #2F3E46;
	padding: 10px;
	text-shadow: 0 -1px 1px rgba(255,255,255,1);
	box-shadow: 1px 1px 10px rgba(0,0,0,1);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,1);
	top: 10px; left: 10px; right: 10px; bottom: 10px;
}
.popup p 
{
	font-size: 15px;
}
.popup h2
{
	padding-top: 10px;
	font-size: 20px;
}
.popup > section
{
		position: absolute;
		overflow: auto;
		top: 55px;
		left: 10px;
		right: 10px;
		bottom: 120px;
}